<h2>About Mark Cordell</h2>
<p> I'm a software engineer at Twitch on the Safety team. I write internal moderation tools and services in Go,
and work on Machine learning projects in Python.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/markcordell">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/mcordell">Linkedin</a>
  </li>
</ul>
