<h2>About Mark Cordell</h2>
<p> I'm looking for Software Engineering positions in the LA area. I have over 9 years of expierence, and have worked on many different software, and infrastructure problems across the stack.
You can find out more, or reach me, via linkedin.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/markcordell">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/mcordell">Linkedin</a>
  </li>
</ul>
