<h2>About Mark Cordell</h2>
<p> I'm a senior software engineer at Snorkel AI, on the infrastructure team, working in Python on backend features that
  support the foundation of our ML platform.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/markcordell">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/mcordell">Linkedin</a>
  </li>
</ul>